<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload Excel</title>
</head>
<body>

<h2>Upload Excel</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <br><br>

    <label>Pilih kolom kode:</label>
    <select name="kolom_kode" required>
        {% for col in kolom_list %}
        <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>

    <br><br>
    <button type="submit">Upload</button>
</form>

</body>
</html>
